1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*--expression
'hello' value
-87.8 value
+ expression 

6 value

2. What is the difference between string and variable?
Variable are used to store data where as string is a datatype and a string variable is used to store alphabets or any alphaneumerals enclosed within single or double quotes.

3. Describe three different data types.
Integer hold numerical value
Boolean stores True or False
Complex datatypes store the data in the form a+jb, where a is real part and b is imaginary prt and j=sqroot of -1.

4. What is an expression made up of? What do all expressions do?
Expression contain operators mathematical, logical, bitwise operation. Expression is used to process the data 
5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
its is statement
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
Ans. 23
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3
ANS:same result for 2 expression
'spamspamspam'
8. Why is eggs a valid variable name while 100 is invalid?
Variable name cannot be started with a digit

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?
int(value), float(value), str(value)
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Ans: Its string concatenation and here 99 is integer not enclosed with single/double quotes. Fix it enclosing 99 within single quotes.

In [1]:
bacon = 22
bacon + 1

23

In [2]:
'spam' + 'spamspam'

'spamspamspam'

In [3]:
'spam' * 3

'spamspamspam'

In [4]:
a=10
print(int(a), float(a), str(a))

10 10.0 10

In [5]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [6]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'